[Desktop Entry]
Name=Install Boosteroid (unofficial)
GenericName=Flatpak Installer
Comment=Download and install Boosteroid cloud gaming for Steam Deck
Exec=bash -c "curl -fsSL -o /tmp/boosteroid-install.sh https://github.com/bschelst/boosteroid-steamos/releases/latest/download/install.sh && bash /tmp/boosteroid-install.sh; rm -f /tmp/boosteroid-install.sh"
Icon=system-software-install
Terminal=true
Type=Application
Categories=Game;
Keywords=boosteroid;schelstraete;cloud;gaming;
