[Desktop Entry]
Name=Install Boosteroid (unofficial)
GenericName=Flatpak Installer
Comment=Download and install Boosteroid cloud gaming for Steam Deck
Exec=bash -c "bash <(curl -fsSL https://raw.githubusercontent.com/bschelst/boosteroid-steamos/main/install.sh)"
Icon=system-software-install
Terminal=true
Type=Application
Categories=Game;
Keywords=boosteroid;schelstraete;cloud;gaming;
